<div class="col-lg-{{ item.size|default('3') }}">
    <div class="card mb-3 me-3">
        <div class="card-header bg-light">
            <h5>
                {% if item.link_label is defined %}{{ item.title }}{% endif %}
            </h5>
        </div>
        <div class="card-body bg-{{ item.css_class }}">
            {% for res in item.res %}
                <div><span style="color: #1e7dc2;">{{ res.label }} :</span> {{ res.result }} {% if res.link is defined and res.link != '' %} <span class="small"><a href="{{ res.link }}">-> détail</a></span> {% endif %}</div>
            {% endfor %}
        </div>
        {% if item.link_label is defined and item.link_label != false %}
            <div class="card-body bg-{{ item.css_class|default('secondary') }}">
                {% if item.description is defined and item.description %}
                    <p class="card-text text-light">{{ item.description|trans }}</p>
                {% endif %}
                {% if item.link_label is defined %}
                    <a href="{{ ea_url().setController(item.controller).setAction('index') }}" class="btn btn-light btn-lg">{{ item.link_label|trans }} <i class="fa fa-arrow-circle-right"></i></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
